<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Content answer:</strong>
  <%= @message.content_answer %>
</p>

<p>
  <strong>Photo answer:</strong>
  <%= @message.photo_answer %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
